body { 
    font-family: 'Plus Jakarta Sans', sans-serif; 
    background-color: #f3f4f6;
    color: #1f2937; 
    padding-bottom: 1.5rem; /* Memberi ruang di bagian paling bawah */
}

/* Animasi Dropdown / Accordion */
.accordion-content { 
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease; 
    max-height: 0; 
    opacity: 0; 
    overflow: hidden; 
}

.accordion-content.open { 
    max-height: 500px; 
    opacity: 1; 
}